# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist
dist/
build/
lib/

# Testing
coverage/
*.log

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Bun
bun.lockb

# Expo
example/.expo/
example/dist/
example/.expo-shared/

# Husky
.husky/_
